/holamundo/nbproject/private/
/holamundo2/nbproject/private/
/hello/nbproject/private/
/paseru/nbproject/private/
/AppProducts/Producto/nbproject/private/
/Producto/nbproject/private/
/Producto/build/
/Triangulo/nbproject/private/
/Triangulo/build/
/Buses/nbproject/private/
/Buses/build/
/SegundaClase/build/
/SegundaClase/nbproject/private/
/PrimeraClase/build/
/PrimeraClase/nbproject/private/
/Gimnasio/nbproject/private/
/Gimnasio/build/
/Orion/nbproject/private/
/Orion/build/
/NumerosEnterosIngles/nbproject/private/
/NumerosEnterosIngles/build/
/Bonus/nbproject/private/
/Bonus/build/
/Abogados/nbproject/private/
/Abogados/build/
/Criptografia/nbproject/private/
/Criptografia/build/
/Seguros/nbproject/private/
/Seguros/build/
/aesclave/nbproject/private/
/AesDemo/nbproject/private/
/AesDemo/build/
/Planillas/nbproject/private/
/Planillas/build/